

RACK_ENV=
ADMIN_DATABASE_URL=
ADMIN_DATABASE_URL_RO=
AUTH_SECRET=
ARGON2_SECRET=
RODAUTH_ADMIN_SESSION_SECRET=
RODAUTH_ADMIN_HOST=
COLONEL_CONSOLE_URL=

# The running app should not have the migrations credentials
#ADMIN_DATABASE_URL_MIGRATIONS=
